@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-display swap
  src: url('../fonts/Merriweather-Bold.ttf');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  font-display swap
  src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-display swap
  src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display swap
  src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display swap
  src: url('../fonts/Montserrat-SemiBold.ttf');
}
