.header-top
  display flex
  justify-content space-between
  align-items center
  padding-top 35px
  .header-search
    display inline-flex
    width 285px
    height 40px
    border 1px solid #01796F
    .header-search-field
      font-size 12px
      line-height 15px
      text-transform uppercase
      background-color #F1EFEF
      border 0
    .header-search-icon
      width 21.5px
      height 21.5px
      margin-top 10px
      margin-bottom 10px
      margin-left 11px
      margin-right 13px
      order -1
.header-logo
  position relative
  width 222px
  height 60px
  span
    font-family Merriweather
    font-style normal
    font-weight bold
    font-size 48px
    line-height 60px
    color #000000
  img
    position absolute
    top -10px
    left 50%
    width 31px
    height 12px
.header-bottom
  width 740px
  margin 0 auto
  margin-top 28px
  .header-menu-list
    display flex
    justify-content space-around
    align-items center
    .header-menu-items
      display inline-block
      padding-bottom 3px
      font-size 14px
      line-height 17px
      letter-spacing 0.1em
      text-transform uppercase
      border-bottom 2px solid #AD8C5A
        